* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: #fff;
    font-family: "Poppins", serif;
}

h2 {
    font-size: 3.5rem;
    letter-spacing: 4px;
    margin-bottom: 2rem;
}

img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 2px 1px 10px 0px rgba(0, 0, 237, 0.55);
}


video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
}

section {
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    background-color: rgb(6, 6, 6);
    overflow: hidden;
}

svg {
    max-width: 100%;
    overflow: visible;
}

.hero_section {
    height: 100vh;
    overflow: hidden;
    background-color: black;
    position: sticky;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
}



.section-wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

}



.text-standard {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.8;
}

@media screen and (max-width: 760px) {
    .section-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    section {
        padding: 4rem 2rem;
    }

    .text-standard {
        font-size: 1rem;
    }
}